<?xml version="1.0" encoding="UTF-8"?>
<!-- 해당 xml에서 사용할 태그 규칙 지정 DTD Mybatis 태그 규칙을 적용하기 위해 mybatis에서 제공하는 dtd를 
	적용 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper>는 이 XML이 어떤 **인터페이스(@Mapper)**와 연결되는지 지정합니다. -->
<mapper namespace="com.andy.spring.ex.database.repository.UsedGoodsRepository">
	<!-- 연결된 Repository의 특정 메소드에 대한 구현 (query) -->
	<select id="selectUsedGoodsList"
		resultType="com.andy.spring.ex.database.domain.UsedGoods">
		<!-- id: 이 쿼리와 연결되는 Repository 인터페이스의 메소드 이름. -->
		<!-- resultType: SQL 쿼리의 결과를 매핑할 도메인 클래스의 경로. 한 행을 UsedGoods 객체로 자동 변환. -->
		SELECT
		`id`
		,`sellerId`
		,`title`
		,`price`
		,`description`
		,`image`
		,`createdAt`
		,`updatedAt`
		FROM
		`used_goods`
	</select>
	<!-- DB에서 used_goods 테이블의 모든 행을 조회. 조회 결과는 각 행마다 UsedGoods 객체로 매핑되어 List로 
		반환됩니다. -->
</mapper>