<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymleaf 변수와 조건문</title>
</head>
<body>
	<h2>Thymleaf 변수와 조건문</h2>

	<h3>1. 변수</h3>
	<div th:with="number = 100">
		<h4 th:text="${number}"></h4>
	</div>

	<!-- 변수가 선언된 하위 태그에서만 사용 가능 -->
	<h4 th:text="${number}"></h4>

	<h3>2. 태그없이 thmyleaf 활용</h3>
	<!-- block 태그는 최종 결과 html에 포함되지 않는다
		 	 block 태그는 랜더링 되지않는다.
		 -->
	<th:block th:with="number1 = 200, number2 = 300">
		<h4 th:text="${number1}"></h4>
		<!-- 200 -->
		<h4 th:text="${number1 + number2}"></h4>
		<!-- 500 -->
		<h4 th:text="'결과 : ' + ${number1 + number2}"></h4> <!-- 문자열 '' -->
		<h4 th:text="|결과 : ' + ${number1 + number2}|"></h4><!-- shif\ -->
	</th:block>
	
	<h3>3. 태그 나타내기</h3>
	<!-- HTML escape -->
	<div th:text="'<b>진한글씨</b>'"></div>
	<div th:utext="'<b>진한글씨</b>'"></div>
	
	<h3>4. 조건문</h3>
	<th:block th:with="age = 18">
		<!-- 15보다 크면 태그 보여주기 - th:if 속성은 값이 true 일때 해당 태그가 포함(랜더링) 된다. -->
		<h3 th:if="true"> 15살 이상입니다.</h3>
		<h3 th:if="false"> 15살 이상입니다.</h3>
		
		<h3 th:if="${age >= 15}"> 15살 이상입니다.</h3>
		
		<h4 th:if="${age >= 20}">성인 입니다</h4>
		
		<h4 th:if="${age < 20}">성인이 아입니다</h4>
		<!-- th:unless 속성은 값이 false 일때 해당 태그가 포함(랜더링) 된다 -->
		<h4 th:unless="${age < 20}">성인이 아입니다</h4>
	</th:block>
	
	<h3>5. switch 문</h3>
	<th:block th:with="season = '봄'">
		<!-- 봄 따뜻 여름 덥다 가을 시원 겨울 춥다. -->
		<div th:switch="${season}">
		<h4 th:case="봄">따뜻하다</h4>
		<h4 th:case="여름">덥다</h4>
		<h4 th:case="가을">시원하다</h4>
		<h4 th:case="겨울">춥다</h4>
		<h4 th:case="*">계절이 아닙니다.</h4>
		</div>
		
	</th:block>
</body>
</html>